.selected__car-carousel-sections {
    display: flex;
    flex-direction: column;
    height: 510px;
    width: 100%;
    justify-content: space-between;
}
.carousel-item {
    height: 350px;
}
.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.carousel-indicators {
    position: static;
    left: initial;
    width: initial;
    margin-left: initial;
}
.carousel-indicators button {
    text-indent: initial;
    opacity: 1;
    background: #F6F7F9;
    width: 140px;
    height: auto;
}
.carousel-indicators button.active img {
    border-radius: 10px;
    border: 2px solid #3563E9;
    padding: 8px;
}
.carousel-indicators img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.carousel-text {
    position: absolute;
    top: 0;
    left: 24px;
    text-align: left;
}
.carousel-text p:first-child {
    font-weight: 600;
    font-size: 2rem;
    line-height: 120%;
    letter-spacing: -0.01em;
    color: #FFFFFF;
    margin: 0 0 16px 0;
}
.carousel-text p:last-child {
    font-weight: 500;
    font-size: 1rem;
    line-height: 160%;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}
.selected__car-indicators {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
}
.carousel-control-prev,
.carousel-control-next {
    background: none;
}
.list-inline-item {
    width: 130px;
    height: 110px;
    border-radius: 10px;
}
.list-inline-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
