/*NULL style*/
@import "nullstyle.css";

body {
    font-family: 'Plus Jakarta Sans', sans-serif;
}
.container-fluid {
    padding: 0;
}

/*header*/
.morent__header {
    background: #fff;
    padding: 40px 32px 40px 50px;
}
.header__title {
    margin: 0 60px 0 0;
}
.header__title h1 {
    font-weight: 700;
    letter-spacing: 1px;
    color: #3563E9;
    font-size: 2rem;
}
.header__mobile-bottom {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 45px;
}
.header__input {
    border: 1px solid rgba(195, 212, 233, 0.4);
    border-radius: 35px;
    display: flex;
    height: 45px;
    flex-direction: row;
    align-items: center;
    padding: 0 0 0 20px;
}
.header__input button {
    background: #fff;
    margin: 0 20px 0 0;
}
.header__input input {
    width: 440px;
}
.header__filter button {
    background: #fff;
}
.header__general-user {
    height: 45px;
}
.header__general-user button {
    background: #fff;
}
.user__notification-true {
    position: absolute;
    top: 0;
    right: 0;
}
.header__user-details button {
    border: 1px solid rgba(195, 212, 233, 0.4);
    border-radius: 50%;
    padding: 0 12px;
}
.header__user-details button:nth-child(2) {
    padding: 0 13px;
}
.header__user-details {}
.header__user {}

/*main*/
.morent__main {
    height: 100%;
    width: 100%;
    background: #F6F7F9;
    display: flex;
    flex-direction: row
}
/*sidebar*/
.sidebar {
    width: 360px;
    min-width: 300px;
    padding: 32px;
    background: #fff;
}
.sidebar__title {
    font-weight: 600;
    font-size: 0.75rem;
    line-height: 150%;
    color: #94A7CB;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.sidebar__section {
    margin: 0 0 55px 0;
}
.sidebar__section:last-child {
    margin: 0;
}
.sidebar__section input {
    margin: 0 10px 32px 0;
    transform: scale(1.2);
}
.sidebar__section input:last-child {
    margin: 0 10px 0 0;
}
.sidebar__section label {
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 150%;
    letter-spacing: -0.02em;
    color: #3D5278;
}
.sidebar__car-count {
    font-weight: 400;
    color: #94A7CB;
    margin: 0 0 0 10px;
}
/*sidebar price*/
.sidebar__price-slidecontainer {
    margin: 0 0 16px 0;
}
.sidebar__price-slidecontainer input {}
#userPrice {
    width: 220px;
    margin: 0 0 0 15px;
}

/*content*/
.content {
    margin: 32px;
    max-width: 100%;
}

/*select car*/
.selected__car {
    max-width: 1000px;
    margin: 0 0 32px 0;
    padding: 0;
}

/*selected car carousel*/
.selected__car-carousel {
    padding: 0;
    margin: 0 0 10px 0;
    max-width: 45%;
}
.selected__car-carousel-sections {
    display: flex;
    flex-direction: column;
    height: 510px;
    width: 100%;
    justify-content: space-between;
}
.carousel-item {
    height: 350px;
}
.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.carousel-indicators {
    position: static;
    left: initial;
    width: initial;
    margin-left: initial;
}
.carousel-indicators button {
    text-indent: initial;
    opacity: 1;
    background: #F6F7F9;
    width: 140px;
    height: auto;
}
.carousel-indicators button.active img {
    border-radius: 10px;
    border: 2px solid #3563E9;
    padding: 8px;
}
.carousel-indicators img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.carousel-text {
    position: absolute;
    top: 0;
    left: 24px;
    text-align: left;
}
.carousel-text p:first-child {
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 120%;
    letter-spacing: -0.01em;
    color: #FFFFFF;
    margin: 0 0 16px 0;
}
.carousel-text p:last-child {
    font-weight: 500;
    font-size: 1rem;
    line-height: 160%;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}
.selected__car-indicators {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
}
.carousel-control-prev,
.carousel-control-next {
    background: none;
}
.list-inline-item {
    width: 130px;
    height: 110px;
    border-radius: 10px;
}
.list-inline-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

/*selected car info*/
.selected__car-info {
    background: #fff;
    border-radius: 10px;
    height: 510px;
    padding: 24px 24px 32px 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 47%;
    min-width: 445px;
}
.selected__car-div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 430px;

    height: 100%;
}
.selected__car-info h4 {
    font-weight: 700;
    font-size: 2rem;
    line-height: 140%;
    color: #1A202C;
}
.selected__car-info-reviews {
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.02em;
    color: #3D5278;
    display: flex;
    flex-direction: row;
}
.selected__car-info-reviews img {
    height: 15px;
    margin: 0 5px 0 0;
}
.selected__car-info-reviews img:last-child {
    margin: 0 10px 0 0;
}
.selected__car-info-reviews a {
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 128%;
    letter-spacing: 0.02em;
    color: #3D5278;
}
.selected__car-info-text {
    max-width: 445px;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 200%;
    letter-spacing: -0.02em;
    color: #3D5278;
}
.selected__car-main_info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.selected__car-main_info-left,
.selected__car-main_info-right {
    display: flex;
    flex-direction: column;
    padding: 0;
}
.selected__car-main_info-left div,
.selected__car-main_info-right div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.selected__car_gray-text {
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 125%;
    letter-spacing: -0.02em;
    color: #90A3BF;
}
.selected__car_bold-text {
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 125%;
    letter-spacing: -0.02em;
    color: #3D5278;
}
.selected__car-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 75px;
}
.selected__car-footer a {
    padding: 16px 32px;
    background: #3563E9;
    border-radius: 4px;
    font-weight: 700;
    font-size: 1rem;
    line-height: 125%;
    color: #FFFFFF;
}
.selected__car-footer p {
    font-weight: 700;
    font-size: 1.75rem;
    color: #1A202C;
}
.selected__car-footer span {
    color: #90A3BF;
    font-size: 1rem;
}

/*reviews*/
.reviews {
    background: #fff;
    padding: 25px 25px 35px 25px;
    border-radius: 10px;
    margin: 0 0 42px 0;
    max-width: 1000px;
}
.reviews__top {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 0 32px 0;
}
.reviews__title {
    font-weight: 600;
    font-size: 1.25rem;
    letter-spacing: -0.02em;
    color: #1A202C;
    margin: 0 12px 0 0;
}
.reviews-count {
    background: #3563E9;
    border-radius: 4px;
    font-weight: 700;
    font-size: 0.875rem;
    color: #FFFFFF;
    height: 1.75rem;
    padding: 0 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.reviews__list {
    max-height: 265px;
    overflow: hidden;
    margin: 0 0 34px 0;
}
.reviews__main-div {
    display: flex;
    flex-direction: row;
    margin: 0 0 20px 0;
}
.reviews__user-image {
    width: 55px;
    margin: 0 15px 0 0;
}
.reviews__main-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 0 12px 0;
}
.reviews__user-name {
    font-weight: 700;
    font-size: 1.25rem;
    color: #1A202C;
    margin: 0 0 8px 0;
}
.reviews__gray-text {
    font-weight: 400;
    font-size: 0.875rem;
    color: #90A3BF;
    margin: 0;
}
.reviews__date-info {
    text-align: right;
}
.reviews__comment {
    position: relative;
}
.reviews__text {
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 200%;
    letter-spacing: -0.02em;
    color: #3D5278;
    max-height: 56px;
    overflow: hidden;
}
.reviews__show {
    display: flex;
    flex-direction: row;
    height: 24px;
    position: relative;
    background: #fff;
    font-size: 1rem;
    color: #90A3BF;
}
.reviews__show img {
    width: 12px;
    height: 6px;
    position: absolute;
    top: 7px;
    right: -17px;
}
.reviews__show-start,
.reviews__show-end {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}
.reviews__show-end img {
    transform: rotate(180deg);
}
.reviews__show-start {
    z-index: 0;
}
.reviews__show-end {
    z-index: -2;
}

/*recent and recommend car section*/
.recent__car,
.recommend__car {
    max-width: 1017px;
    overflow: hidden;
    margin: 0 -32px 0 0;
}
.recent__car-header,
.recommend__car-header {
    display: flex;
    flex-direction: row;
    align-items: start;
    height: 24px;
    margin: 0 0 26px 0;
    justify-content: space-between;
    padding: 0 42px 0 20px;
}
.recent__car-header button,
.recommend__car-header button {
    background: #F6F7F9;
    font-weight: 600;
    font-size: 1rem;
    color: #3563E9;
}
.car__section-title {
    font-weight: 600;
    font-size: 1rem;
    color: #90A3BF;
}

.recent__car_list,
.recommend__car_list {
    width: 500%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.car__item {
    background: #fff;
    border-radius: 10px;
    width: 315px;
    height: 390px;
    padding: 24px;
    margin: 0 30px 42px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.car__item:last-child {
    margin: 0 0 42px 0;
}
.car__item_top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: auto;
    padding: 0;
}
.car__item_top button {
    background: #fff;
}
.car__item_top-left {
    display: flex;
    flex-direction: column;
}
.car__item_top-left h3 {
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 125%;
    color: #1A202C;
    margin: 0 0 4px 0;
}
.car__item-like {
    width: 20px;
    position: relative;
}
.car__item-like img {
    width: 100%;
}
.car__item-def-like,
.car__item-user-like{
    position: absolute;
    top: 0;
    left: 0;
}
.car__item-def-like {
    background: #fff;
    z-index: 0;
}
.car__item-user-like {
    z-index: -2;
}
.car__item-image {
    text-align: center;
    margin: 0 0 50px 0;
    position: relative;
}
.car__item-image img {
    width: 250px;
    height: auto;
    object-fit: cover;
}
.car__item-image_gradient {
    position: absolute;
    top: 45px;
    left: 0;
    width: 100%;
    height: 66px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%);
}
.car__item-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 0 35px 0;
}
.car__item-info div {
    display: flex;
    flex-direction: row;
    height: 24px;
    align-items: stretch;
}
.car__item-info img {
    margin: 0 7px 0 0;
    width: 20px;
    height: 20px;
}
.car__item-info p {
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 125%;
    color: #90A3BF;
}
.car__item-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 55px;
}
.car__item-footer p {
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 125%;
    color: #1A202C;
}
.car__item-footer span {
    color: #90A3BF;
    font-size: 1rem;
}
.car__item-footer a {
    font-size: 1rem;
    line-height: 125%;
    color: #FFFFFF;
    font-weight: 600;
    padding: 10px 20px;
    background: #3563E9;
    border-radius: 4px;
}
.car__item-footer a:hover {
    text-decoration: none;
    color: #FFFFFF;
}

/*footer*/
.morent__footer {
    padding: 60px 60px 80px 60px;
}
.footer__top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.footer__top a {
    font-weight: 500;
    font-size: 1rem;
    line-height: 120%;
    color: rgba(19, 19, 19, 0.6);
}
.footer__top h5 {
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 120%;
    color: #131313;
    margin: 0 0 24px 0;
}
.footer__top-left {}
.footer__top_title {
    font-weight: 700;
    font-size: 2rem;
    line-height: 120%;
    letter-spacing: 1px;
    color: #3563E9;
    margin: 0 0 16px 0;
}
.footer__top_text {
    display: block;
    max-width: 290px;
    font-weight: 500;
    font-size: 1rem;
    line-height: 200%;
    color: rgba(19, 19, 19, 0.6);
}
.footer__top-right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer__top-right div {
    margin: 0 60px 0 0;
}
.footer__top-right div:last-child {
    margin: 0;
}
.footer__top-right li {
    font-weight: 500;
    font-size: 1rem;
    line-height: 120%;
    color: rgba(19, 19, 19, 0.6);
    margin: 0 0 15px 0;
}
.footer__top-right li:last-child {
    margin: 0;
}
.footer__bottom {
    display: flex;
    flex-direction: column;
}
.footer__bottom::before {
    content: " ";
    height: 1px;
    width: 100%;
    background: rgba(19, 19, 19, 0.16);
    margin: 60px 0 50px 0;
}
.footer__bottom-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.footer__bottom p,
.footer__bottom a {
    font-weight: 600;
    font-size: 1rem;
    line-height: 200%;
    letter-spacing: -0.01em;
    color: #131313;
}
.footer__bottom_right {
    display: flex;
    flex-direction: row;
}
.footer__bottom_right div {
    margin: 0 60px 0 0;
}
.footer__bottom_right div:last-child {
    margin: 0;
}


/*MEDIA*/
@media (min-width: 1200px) {
    .selected__car {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}
@media (min-width: 767px) {
    .header__burger-user {
        display: none;
    }
    .morent__header {
        height: 125px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .header__mobile {
        display: flex;
        flex-direction: row;
    }
    .header__general-user,
    .header__user-details {
        display: flex;
        flex-direction: row;
    }
    .header__user-details button {
        margin: 0 20px 0 0;
    }
    .header__mobile-bottom {
        position: relative;
    }
    .header__filter {
        position: absolute;
        right: 20px;
    }
}
@media (max-width: 1200px) {
    .content {
        margin: 26px;
    }
    .sidebar {
        width: 320px;
    }
    .reviews_gradient {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 28px;
        background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
        background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
        background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0);
    }
    .selected__car-info {
        max-width: 100%;
        min-width: 1px;
        height: auto;
    }
    .selected__car-main_info {
        margin: 0 0 32px 0;
    }
    .selected__car-carousel-sections {
        height: auto;
        width: 430px;
        margin: 0 0 32px 0;
    }
    .selected__car-carousel-top {
        margin: 0 0 20px 0;
    }
}
@media (max-width: 992px) {
    .header__input input {
        width: 250px;
    }
    .morent__header {
        padding: 32px 20px;
    }
    .footer__top-right div {
        margin: 0 10px 0 0;
    }
    .footer__bottom_right {
        display: flex;
        flex-direction: column;
        text-align: right;
    }
    .footer__bottom_right div {
        margin: 0;
    }
    .selected__car_gray-text,
    .selected__car_bold-text {
        font-size: 1rem;
        margin: 0 0 20px 0;
    }
}
@media (max-width: 767px) {
    /*header*/
    header {
        padding: 32px 25px;
    }
    .header__burger-user {
        position: fixed;
        top: 15px;
        right: 15px;
    }
    .header__burger-user button {
        background: #fff;
    }
    .header__mobile {
        display: flex;
        flex-direction: column;
    }
    .header__title {
        margin: 0 0 24px 0;
    }
    .header__title h1,
    .footer__top_title {
        font-size: 1.5rem;
    }
    .header__input {
        padding: 0 0 0 10px;
        border-radius: 10px;
    }
    .header__input button {
        margin: 0 10px 0 0;
    }
    .header__mobile-bottom {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .header__filter {
        border: 1px solid rgba(195, 212, 233, 0.4);
        border-radius: 10px;
        padding: 10px;
    }
    /*footer*/
    .footer__top {
        display: flex;
        flex-direction: column;
    }
    .footer__top-left {
        margin: 0 0 48px 0;
    }
    .footer__top-right div {
        margin: 0 60px 48px 0;
    }
    .footer__top-left {
        margin: 0 0 15px 0;
    }
    .footer__bottom-content {
        display: flex;
        flex-direction: column-reverse;
    }
    .footer__bottom_right {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0 0 32px 0;
    }
    /*main*/
    .content {
        margin: 24px;
    }
    .car__item {
        padding: 16px;
    }
    .selected__car-info header {
        padding: 0;
        margin: 0 0 16px 0;
    }
    .selected__car-info h4 {
        font-size: 1.25rem;
    }
    .selected__car-info-text {
        font-size: 1rem;
        margin: 0 0 16px 0;
    }
    .selected__car-div {
        max-width: 405px;
    }
    .selected__car-main_info-left {
        margin: 0 5px 0 0;
    }
    .selected__car_gray-text,
    .selected__car_bold-text {
        font-size: 0.75rem;
    }
    .selected__car-footer p {
        font-size: 1rem;
    }
    .selected__car-footer span {
        font-size: 0.75rem;
    }
    .selected__car-footer a {
        font-size: 0.75rem;
    }
    .selected__car-carousel {
        max-width: 100%;
        min-width: 1px;
        height: auto;
    }
    .selected__car-carousel-top {
        max-width: 100%;
    }
    .selected__car-carousel-top img {
        width: 100%;
        height: 100%;
    }
    .carousel-text p:first-child {
        font-size: 1.25rem;
    }
    .carousel-text p:last-child {
        font-size: 0.75rem;
    }
    .selected__car-indicators {
        z-index: 1;
    }
    .selected__car-footer {
        height: 50px;
    }
    .reviews__user-name {
        font-size: 1rem;
    }
    .reviews__gray-text {
        font-size: 0.75rem;
    }
    .reviews__text {
        font-size: 0.75rem;
    }
    .reviews__main-div {
        margin: 0 0 10px 0;
    }
}
@media (max-width: 480px) {
    .content {
        margin: 24px 7px;
    }
    .selected__car-carousel {
        max-width: 100%;
        min-width: 1px;
        height: auto;
    }
    .selected__car-carousel-sections {
        width: 100%;
        height: 100%;
    }
    .selected__car-carousel-top img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .carousel-text {
        display: none;
    }
    .selected__car-indicators {
        display: none;
    }
    .selected__car-info-reviews a {
        font-size: 0.75rem;
    }
    .footer__bottom_right {
        display: flex;
        flex-direction: column;
        text-align: left;
    }
    .footer__bottom_right div {
        margin: 0 0 32px 0;
    }
    .footer__bottom_right div:last-child {
        margin: 0;
    }
}
@media (max-width: 350px) {
    .content {
        margin: 32px 0;
    }
    .selected__car-carousel {
        display: none;
    }
    .selected__car-info h4 {
        font-size: 1rem;
    }
    .selected__car-info-text {
        font-size: 0.75rem;
    }
    .selected__car_gray-text,
    .selected__car_bold-text {
        font-size: 0.5rem;
    }
    .selected__car-footer {
        height: 40px;
    }
    .selected__car-footer p {
        font-size: 0.75rem;
    }
    .selected__car-footer span {
        font-size: 0.5rem;
    }
    .selected__car-footer a {
        font-size: 0.5rem;
    }
}